<div style="border: 1px solid red">
  old version
  <input type="text" [(ngModel)]="desc" (keyup.enter)="addTodo()">
  <ul>
    <li *ngFor="let todo of todos">{{ todo.desc }}</li>
  </ul>
</div>


<section class="todoapp" style="border: 1px solid green">
new version
<app-todo-header 
    placeholder="What do you want"
    delay="100"
    (textChanges)="onTextChanges($event)"
    (onEnterUp)="addTodo()" >
</app-todo-header>

  
  <app-todo-list
    [todos]="todos"
    (onRemoveTodo)="removeTodo($event)"
    (onToggleTodo)="toggleTodo($event)"
    (onToggleAll)="toggleAll()"
    >
  </app-todo-list>



  <app-todo-footer 
    [itemCount]="todos?.length" 
    (onClear) = "clearCompleted()"> 

  </app-todo-footer>
</section>
